/* src/pages/NewVideoPage.module.css */
.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #262626;
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  